<div th:fragment="add-source" class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Add a new source
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" th:href="@{/projects/{id}/sources/add/book(id=${projectId})}">Add a book</a></li>
    <li><a class="dropdown-item" th:href="@{/projects/{id}/sources/add/journal-article(id=${projectId})}">Add a
      journal article</a></li>
    <li><a class="dropdown-item" th:href="@{/projects/{id}/sources/add/internet-document(id=${projectId})}">Add an
      internet document</a></li>
    <li>
      <span style="cursor: default;" class="dropdown-item" tabindex="0" data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            data-bs-content="This functionality is not implemented yet. Check back soon">
        Import from RIS file
      </span>
    </li>
  </ul>
</div>