<footer th:fragment="footer">
  <div class="d-flex flex-wrap bg-dark justify-content-between align-items-center py-5 mt-3 border-top">
    <div class="container">
      <div class="row">
        <p class="col-md-3 text-light d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis">© 2024
          RferentX</p>
        <span
            class="col-md-5 text-light d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis">Project: Software Engineering</span>
        <p class="col-md-3 text-light d-flex align-items-center justify-content-end mb-3 mb-md-0 me-md-auto link-body-emphasis">
          DLBCSPSE01</p>
      </div>
    </div>
  </div>
  <style>
    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    footer {
      margin-top: auto;
    }
  </style>
  <script type="text/javascript" th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</footer>
