<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
  <title>Add Project - ReferentX</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="container">
  <div class="row">
    <div class="col-md-7">
      <h1 class="font-weight-bold mb-3">[[${formTitle}]]</h1>
      <form th:action="@{/projects/{action}(action=${formAction})}" th:object="${project}"
            method="post">
        <input hidden type="text" th:field="*{projectId}">
        <div class="form-group mb-3">
          <label for="name">Project name*</label>
          <input required type="text" id="name" class="form-control" th:field="*{name}">
        </div>
        <div class="form-group mb-3">
          <label for="description">Project description</label>
          <textarea id="description" class="form-control" th:field="*{description}"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="citationStyle">Citation Style*</label>
          <select id="citationStyle" class="form-select" th:field="*{citationStyle}">
            <option value="" disabled selected>Select a citation style</option>
            <option th:each="style : ${citationStyles}"
                    th:value="${style}"
                    th:text="${style.label}"></option>
          </select>
        </div>
        <div th:if="${availableCollaborators.size() == 0}">
          <input class="form-check-input" type="hidden" name="collaboratorId">
        </div>
        <div th:if="${availableCollaborators.size() > 0}" class=" form-group mb-3">
          <div class="mb-2">Select project collaborators</div>
          <div class="form-check form-check-inline" th:each="availableCollaborator : ${availableCollaborators}">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="collaboratorId"
                     th:value="${availableCollaborator.userId}"
                     th:checked="${currentCollaborators.contains(availableCollaborator)}">
              <span th:text="${availableCollaborator.email}"></span>
            </label>
          </div>
        </div>
        <div class="form-group mt-4">
          <button type="submit" name="submit" class="btn btn-primary px-4 py-2 mb-5">Save</button>
        </div>
      </form>

    </div>
  </div>

</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>